$primary: rgba(
  $color: #fffb00,
  $alpha: 1,
);
$white: rgba(
  $color: #ffffff,
  $alpha: 1,
);
$trans: rgba(
  $color: #ffffff,
  $alpha: 0.5,
);
$dark: rgba(
  $color: #000000,
  $alpha: 1,
);

$linear-showroom: linear-gradient(
  rgba(255, 255, 255, 0.76),
  rgba(255, 255, 255, 0.432)
  );
  

  @mixin box-big {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
  }
  
  $base-font: 18px;
  
  @mixin hover {
    background-color: $primary;
    border-radius: 0 15px 0 15px;
  }
  
  // init
  
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  * {
    font-family: "Roboto Condensed", sans-serif;
    font-size: $base-font;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  
  .primary {
    background-color: $white;
  }
  
  .contrast {
    background-color: $primary;
  }
  
  .navbar__list {
    list-style: none;
    display: flex;
  }
  
  .navbar__toggler-icon {
    display: none;
  }

  // utility

  .visible {
  display: flex !important;
  }

  
  .small {
    font-size: 0.7rem;
  }
  
  
  
  h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

p {
  line-height: 2rem;
}

.text-with-img {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

a {
  text-decoration: underline dotted;
  color: black;
}

mark {
  background-color: $primary;
}

button {
  color: $dark;
  background-color: $trans;
  font-size: 1rem;
  padding: 0.7rem;
  border-style: none;
  margin-top: 0.5rem;
  cursor: pointer;
  outline-style: none;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 1s;
  @include box-big();
}

button:hover {
  @include hover;
}

ul {
  padding: 0;
}

nav,
header,
section,
footer {
  max-width: 900px;
  margin: auto;
}

header,
section,
.top__link {
  padding: 1rem 1rem 0;
}

footer {
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}

#mentions-legales {
  cursor: pointer;
}

#do {
  min-height: 20rem;
}

#contact {
  text-align: center;
}

.img__logo {
  margin: 0.5rem;
}

.github__logo {
  width: 2rem;
}

.linkedin__logo {
width: 2.3rem;
}

.top__link {
  text-align: center;
}

header {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  text-align: center;
}

// NAVBAR

nav {
  padding: 2rem;
}

.navbar__collapsed-content {
  max-height: 3rem;
  height: 100%;
  overflow: hidden;
  transition: all 0.45s ease-out;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  height: 100%;

  a {
    text-decoration: none;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.navbar__toggler-icon {
  display: inline-block;
  font-size: 2rem;
}

#menu__icon {
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $dark;
  transition: all 0.45s ease-out;
}

.rotate {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: $primary !important;
  border: 1px solid $dark;
}

.navbar__item {
  font-size: 1rem;
  display: flex;
  padding: 0.8rem;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  align-items: center;
  text-align: center;
  transition: all 1s;
}

.navbar__item:hover {
  @include hover;
}

// SHOWROOM

#showroom {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;

  p,
  h2 {
    background-color: $dark;
    color: $primary;
  }

  p {
    display: inline-block;
    margin: 0.5rem 0;
    line-height: 0.5rem;
    padding: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.2rem;
  }

  .center {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    padding: 0;
  }

  .side {
    height: 100%;
    width: 2rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    margin: auto 0.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
  }

  #prev__showroom {
    text-align: left;
  }
  #next__showroom {
    text-align: right;
  }
}

.project {
  height: 15rem;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  margin: 1rem auto;
  width: 95%;
  @include box-big();
}

.description__project {
  flex-grow: 1;
}

.button__container {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;

  button {
    font-size: 1rem;
    margin: 0 1rem;
    outline-style: none;
    @include box-big();
  }
}

#project1 {
  background-image: $linear-showroom, url("../images/project1__img.png");
}
#project2 {
  background-image: $linear-showroom, url("../images/project2__img.png");
}
#project3 {
  background-image: $linear-showroom, url("../images/project3__img.png");
}
#project4 {
  background-image: $linear-showroom, url("../images/project4__img.png");
}



.contact__container {
  margin: 2rem auto;
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  overflow: hidden;
  @include box-big();
}
#contact-logo__container {
  display: flex;
}

// Modal

#mod__mask {
  display : none;
  position: absolute;
  width : 100%;
  background: rgba($color: #000000, $alpha: 0.4);
  z-index: 99;
}

#mod__container {
  display: flex;
  position: fixed;
  flex-direction: column;
  padding: 1rem;
  background-color: $white;
  opacity: 1;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -25%);
  width: 80%;
  max-width: 800px;
  margin: auto;
  @include box-big();
}

#mod__head {
  text-align: right;
 }

 #mod__content {
   height: 100%;
   display : flex;
   flex-direction : column;
   gap: 1rem;
   text-align: center;
 }

 #mod__close {
   font-size : 3rem;
   margin-right: 0.7rem;
   cursor: pointer;
 }

 #mod__title {
   margin-top: 0rem;
   margin-bottom: 0.5rem;
 }

 #mod__paragraph {
   flex-grow : 1;
 }

 #mod__footer {
   margin-top: 1rem;
   margin-bottom: 1rem;
   text-align: center;
 }


// ANIMATION

.bounce {
  animation: bounce 2s ease-in-out 1s infinite running;
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  20% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -webkit-opacity: 0.6;
    opacity: 0.6;
  }
  30% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  60% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  20% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -webkit-opacity: 0.6;
    opacity: 0.6;
  }
  30% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  60% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-out-top {
  -webkit-animation: slide-in-top 0.3s reverse cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-top 0.3s reverse cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translate(-50%, -1000px);
    transform: translate(-50%, -1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translate(-50%, -1000px);
    transform: translate(-50%, -1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
    opacity: 1;
  }
}

// MEDIA QUERIES

@media screen and (min-width: 550px) {
  #showroom {
    width: 80%;
    margin: 2rem auto 2rem auto;
    padding-bottom: 1rem;
    @include box-big();

    h2 {
      @include box-big();
    }
  }

  .project {
    border-radius: 0px;
    box-shadow: none;
    display: none;
  }

  .project1 {
    background-image: $linear-showroom, url("../images/project1__img.png");
  }
  .project2 {
    background-image: $linear-showroom, url("../images/project2__img.png");
  }
  .project3 {
    background-image: $linear-showroom, url("../images/project3__img.png");
  }
  .project4 {
    background-image: $linear-showroom, url("../images/project4__img.png");
  }

  #project1,
  #project2,
  #project4,
  #project3 {
    background-image: none;
  }

  .side {
    display: flex !important;
  }

  .center {
    flex-direction: row;
    padding: 0;
  }

  .contact__container {
    width: 80%;
  }

}

@media screen and (min-width: 800px) {
  .contact__container {
    width: 40%;
  }
  #mod__container {
    width: 60%;
  }
}
